In [1]:
Q1
Viết hàm filter_numbers(x) nhập vào 1 list x và trả về 1 list gồm các phần tử là số (int, float) của x

SyntaxError: invalid syntax (1274974950.py, line 2)

In [ ]:
fillter_numbers([1,2,'A', True, -1,-2.4,[1,2], False])

In [4]:
def fillter_numbers(x):
     #Co may cac de tra list
    #C1: use list Conprehensions
    # Check
    if type(x) != list:
        raise Exception("Please input a list")
    else:
        return [i for i in x if type(i) in [int, float]]

In [6]:
fillter_numbers([1,2,'A', True, -1,-2.4,[1,2], False])

[1, 2, -1, -2.4]

In [8]:
Viết hàm count_element_types(x), nhập vào 1 list trả về số 1 tuple có 4 phần tử
1. Phần tử đầu: Số các phần tử là số dương trong x
2. Phần tử đầu: Số các phần tử là số âm trong x
3. Phần tử đầu: Số các phần tử là số 0 trong x
4. Phần tử đầu: Số các phần tử không là số trong x

SyntaxError: invalid syntax (1582461155.py, line 1)

In [10]:
def count_element_types(x):
    a= b = c = d = 0
    for i in x:
        if type(i) not in [int, float]:
            d += 1
        elif i > 0:
            a +=1
        elif i < 0: 
            b += 1
        elif i == 0:
            c +=1
    return (a,b,c,d)

In [12]:
count_element_types([1,2,'A', True, -1,-2.5,7,[1,2],False, 0,0])

(3, 2, 2, 4)

In [ ]:
Viet ham count_numbers_div_by_9(n) nhap vao mot so nguyen n tra ve so chan chia het cho 9 trong so n so nguyen duong dau tien tu 1 den n

In [38]:
def count_numbers_div_by_9(n):
    count = 0
    for i in range(1,n + 1):
       #if sum(map(int, str(i))) % 9 == 0 and i % 2 ==0: # 1,2,3 => ['1', '2', '3'] => 1 + 2 + 3
        if i % 2 == 0 and i % 9 == 0:
           count += 1
    return count

In [40]:
count_numbers_div_by_9(100)

5

In [ ]:
Viet ham sumarize_data(x) nhap vao 1 list x gồm các số (int, float) trả về một dictionary có 3 keys min, max, avg với values tương ung

In [111]:
import numpy as np
def sumarize_data(x):
    if type(x) != list:
        raise Exception("Please input a list")
    for i in x:
        if type(i) not in [float, int]:
            raise Exception("Please element is number")
    return {'min': min(x), 'max': max(x), 'avg': np.mean(x)}

In [113]:
sumarize_data([1,-10,2,7,8,9,15])

{'min': -10, 'max': 15, 'avg': 4.571428571428571}

In [ ]:
Viet ham count_common(x,y) nhap vao2 lists x va y tra ve so luong phan tu chung giua 2 list nhung ptu trung chi dem 1 lan

In [ ]:
def count_common(x,y):
    cm = []
    for i in x:
        if i in y and i not in cm:
            cm.append(i)
    return len(cm)

'''
- Neu dung cach dem bth thi khong kt duoc khi nao da duyet ptu trung do chua
- Neu ptu cua A1 co trong A2 va A1 khong nam trong pt lap lai => them so pt vao lap lai
- Sau khi them xong do de yeu cau dem ma cm la list nen can dung ham len de dem so luong ptu co trong list do
'''

In [ ]:
Viet ham count_vowels_consonants(s). Nhap vao 1 string s co ky tu nam trong 26 chu cai tieng anh, tra ve 1 tuple gom 2 phan tu:
- Phan tu dau la so luong la cac nguyen am (u,e,o,a,i)
- Phan tu thu 2 la so luong ky tu phu am

In [3]:
def count_vowels_consonants(s):
    vowels = {'u', 'e', 'o', 'a', 'i'}
    s = s.lower()
    n_a = p_a = 0
    for i in s:
        if i.isalpha(): #Check chu cai
            if i in vowels:
                n_a += 1
            else:
                p_a += 1
    return (n_a, p_a)

In [5]:
count_vowels_consonants("Hello Annie")

(5, 5)

In [ ]:
Viet ham sort_words(s) nhap vao 1 string gom cac tu cach nhanh boi dau comma ',' 
tra ve cac ptu cach nhanh boi dau comma nhung cac tu da duoc sawp xep theo A-Z luu ys string tra ve o dang lowercase

In [104]:
# C1: CREATE 1 ARRAY AND USE METHOD 'APPEND'
def sort_words_v1(s):
    k = []
    for i in s.split(','):
        k.append(i.lower())
    return sorted(k)

def sort_words_v2(s):
    k = [ i.lower() for i in s.split(",")]
    k.sort()
    return k

def sort_words_v3(s):
    v = [i.lower() for i in s.split(',')]
    return ','.join(sorted(v))

In [102]:
sort_words_v1("hourse,dog,cat,asd,ok")

['asd', 'cat', 'dog', 'hourse', 'ok']

In [98]:
sort_words_v2("hourse,dog,cat,asd,ok")

['asd', 'cat', 'dog', 'hourse', 'ok']

In [106]:
sort_words_v3("hourse,dog,cat,asd,ok")

'asd,cat,dog,hourse,ok'

In [ ]:
Viet ham get_most_frequent_elements(x), nhap vao 1 list cac so va in ra phan tu cung so luong xuat hien theo format sau:
    Element: 1, Occurences: 4

In [122]:
def get_most_frequent_elemnts(x):
    for i in set(x):
        e = 0
        for j in x:
            if i == j:
                e += 1
        print("Element: {}, Occurences: {}".format(i, e))

In [124]:
x = [1,1,1,1,2,2,2,2,3,4,5,6,4,23,3,3,3]
get_most_frequent_elemnts(x)

Element: 1, Occurences: 4
Element: 2, Occurences: 4
Element: 3, Occurences: 4
Element: 4, Occurences: 2
Element: 5, Occurences: 1
Element: 6, Occurences: 1
Element: 23, Occurences: 1

In [126]:
Viet ham get_quarter(x) nhap vao mot so nguyen tu tu 1 den 12 the hien so thu tu cua thang trong nam, 
tra ve so nguyen la quarter tuong ung tu 1 den 4
VD: thang 1,2,3 ung voi quarter 1, 4,5,6 ung vs quarter 2...

SyntaxError: invalid syntax (3101165540.py, line 1)

In [128]:
def get_quarter(x):
    q = ''
    if x <= 3:
        q = 'Quarter 1'
    elif x <= 6:
        q = 'Quarter 2'
    elif x <= 9:
        q = 'Quarter 3'
    elif x <= 12:
        q = 'Quarter 4'
    return q

In [130]:
for x in range(1,13):
    print(get_quarter(x), end= " ")

Quarter 1 Quarter 1 Quarter 1 Quarter 2 Quarter 2 Quarter 2 Quarter 3 Quarter 3 Quarter 3 Quarter 4 Quarter 4 Quarter 4

In [ ]:
FINALLLLLLLLLLLLLLLLLLLLLLLLLLLLLL

In [ ]:
Viet ham filter_numbers(x) nhap vao 1 list x va tra ve 1 lít gom cac  phan tu la so int float cua x

In [ ]:
3. Data Processing

In [14]:
import pandas as pd

In [16]:
pd.set_option('display.max_columns', None)

In [20]:
hotel = pd.read_csv('Final/hotel_bookings.csv')
hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,City Hotel,1,134,2017,July,32,20,2,9,2,1,0,BB,Other,Offline TA/TO,GDS,0,0,0,F,F,1,No Deposit,397,846.0,10,Transient-Party,149.46,1,0,Canceled,2015-09-10
1,City Hotel,1,53,2017,September,31,23,0,2,4,1,0,Undefined,ITA,Corporate,Direct,1,1,2,F,G,0,No Deposit,62,703.0,12,Transient-Party,149.46,2,2,Check-Out,2016-07-02
2,Resort Hotel,0,301,2016,March,22,16,0,2,4,0,1,HB,Other,Online TA,Corporate,0,0,1,A,G,0,No Deposit,306,984.0,5,Transient-Party,149.46,1,0,No-Show,2017-04-05
3,City Hotel,1,143,2015,July,11,17,0,1,1,2,1,FB,USA,Corporate,GDS,1,0,2,G,G,3,Non Refund,97,53.0,11,Contract,149.46,0,5,Canceled,2017-02-20
4,City Hotel,0,52,2017,February,45,4,3,2,3,1,0,HB,Other,Direct,TA/TO,1,0,0,C,A,3,Refundable,483,561.0,6,Contract,149.46,2,4,Canceled,2016-08-01

# Q1
In ra shape cua tap data

In [25]:
hotel.shape

(19390, 32)

In [ ]:
Q2 
In ra info of data
Create list 'nul_col' save name columns have null

In [27]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19390 entries, 0 to 19389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           19390 non-null  object
 1   is_canceled                     19390 non-null  int64
 2   lead_time                       19390 non-null  int64
 3   arrival_date_year               19390 non-null  int64
 4   arrival_date_month              19390 non-null  object
 5   arrival_date_week_number        19390 non-null  int64
 6   arrival_date_of_month           19390 non-null  int64
 7   stays_in_weekend_nights         19390 non-null  int64
 8   stays_in_week_nights            19390 non-null  int64
 9   adults                          19390 non-null  int64
 10  children                        19390 non-null  int64
 11  babies                          19390 non-null  int64
 12  meal                            19390 non-null  object
 13  country                         19390 non-null  object
 14  market_segment                  19390 non-null  object
 15  distribution_channel            19390 non-null  object
 16  is_repeated_guest               19390 non-null  int64
 17  previous_cancellations          19390 non-null  int64
 18  previous_bookings_not_canceled  19390 non-null  int64
 19  reserved_room_type              19390 non-null  object
 20  assigned_room_type              19390 non-null  object
 21  booking_changes                 19390 non-null  int64
 22  deposit_type                    19390 non-null  object
 23  agent                           19390 non-null  int64
 24  company                         6797 non-null   float64
 25  days_in_waiting_list            19390 non-null  int64
 26  customer_type                   19390 non-null  object
 27  adr                             19390 non-null  float64
 28  required_car_parking_spaces     19390 non-null  int64
 29  total_of_special_requests       19390 non-null  int64
 30  reservation_status              19390 non-null  object
 31  reservation_status_date         19390 non-null  object
dtypes: float64(2), int64(18), object(12)
memory usage: 4.7+ MB

In [35]:
null_col = [hotel['company']]
null_col

[0        846.0
 1        703.0
 2        984.0
 3         53.0
 4        561.0
          ...
 19385      NaN
 19386      NaN
 19387      NaN
 19388      NaN
 19389      NaN
 Name: company, Length: 19390, dtype: float64]

In [ ]:
Q3
Thay vi tao 1 list, hay xay dung ham null_count() nhap vao ten tap data va tra ra dataframe chua ten cot va so luong null va so %

In [ ]:
def null_count(x):
    for i in x:
        if i is not null