In [1]:
Q1
Viết hàm filter_numbers(x) nhập vào 1 list x và trả về 1 list gồm các phần tử là số (int, float) của x

SyntaxError: invalid syntax (1274974950.py, line 2)

In [ ]:
fillter_numbers([1,2,'A', True, -1,-2.4,[1,2], False])

In [4]:
def fillter_numbers(x):
     #Co may cac de tra list
    #C1: use list Conprehensions
    # Check
    if type(x) != list:
        raise Exception("Please input a list")
    else:
        return [i for i in x if type(i) in [int, float]]

In [6]:
fillter_numbers([1,2,'A', True, -1,-2.4,[1,2], False])

[1, 2, -1, -2.4]

In [8]:
Viết hàm count_element_types(x), nhập vào 1 list trả về số 1 tuple có 4 phần tử
1. Phần tử đầu: Số các phần tử là số dương trong x
2. Phần tử đầu: Số các phần tử là số âm trong x
3. Phần tử đầu: Số các phần tử là số 0 trong x
4. Phần tử đầu: Số các phần tử không là số trong x

SyntaxError: invalid syntax (1582461155.py, line 1)

In [10]:
def count_element_types(x):
    a= b = c = d = 0
    for i in x:
        if type(i) not in [int, float]:
            d += 1
        elif i > 0:
            a +=1
        elif i < 0: 
            b += 1
        elif i == 0:
            c +=1
    return (a,b,c,d)

In [12]:
count_element_types([1,2,'A', True, -1,-2.5,7,[1,2],False, 0,0])

(3, 2, 2, 4)

In [ ]:
Viet ham count_numbers_div_by_9(n) nhap vao mot so nguyen n tra ve so chan chia het cho 9 trong so n so nguyen duong dau tien tu 1 den n

In [38]:
def count_numbers_div_by_9(n):
    count = 0
    for i in range(1,n + 1):
       #if sum(map(int, str(i))) % 9 == 0 and i % 2 ==0: # 1,2,3 => ['1', '2', '3'] => 1 + 2 + 3
        if i % 2 == 0 and i % 9 == 0:
           count += 1
    return count

In [40]:
count_numbers_div_by_9(100)

5

In [ ]:
Viet ham sumarize_data(x) nhap vao 1 list x gồm các số (int, float) trả về một dictionary có 3 keys min, max, avg với values tương ung

In [15]:
def sumarize_data(x):
    #Check if the number is not a list (String) Bc the query is a list
    if type(x) != list:
        raise Exception("Please input a list")
    for i in x:
        #Check the number is true
        if type(i) not in [int, float]:
            raise Exception("Please element is number!")
    return {"Min": min(x), "Max": max(x), "AVG": np.mean(x)} #Mean is avearge
    








import numpy as np
def abc(x):
    if type(x) != list:
        raise Exception("Please input a list")
    for i in x:
        if type(i) not in [float, int]:
            raise Exception("Please element is number")
    return {'min': min(x), 'max': max(x), 'avg': np.mean(x)}

In [17]:
sumarize_data([1,-10,2,7,8,9,15])

{'Min': -10, 'Max': 15, 'AVG': 4.571428571428571}

In [ ]:
Viet ham count_common(x,y) nhap vao2 lists x va y tra ve so luong phan tu chung giua 2 list nhung ptu trung chi dem 1 lan

In [ ]:
def count_common(x,y):
    cm = []
    for i in x:
        if i in y and i not in cm:
            cm.append(i)
    return len(cm)


def count_abc(x,y):
    
'''
- Neu dung cach dem bth thi khong kt duoc khi nao da duyet ptu trung do chua
- Neu ptu cua A1 co trong A2 va A1 khong nam trong pt lap lai => them so pt vao lap lai
- Sau khi them xong do de yeu cau dem ma cm la list nen can dung ham len de dem so luong ptu co trong list do
'''

In [ ]:
Viet ham count_vowels_consonants(s). Nhap vao 1 string s co ky tu nam trong 26 chu cai tieng anh, tra ve 1 tuple gom 2 phan tu:
- Phan tu dau la so luong la cac nguyen am (u,e,o,a,i)
- Phan tu thu 2 la so luong ky tu phu am

In [3]:
def count_vowels_consonants(s):
    vowels = {'u', 'e', 'o', 'a', 'i'}
    s = s.lower()
    n_a = p_a = 0
    for i in s:
        if i.isalpha(): #Check chu cai
            if i in vowels:
                n_a += 1
            else:
                p_a += 1
    return (n_a, p_a)

In [5]:
count_vowels_consonants("Hello Annie")

(5, 5)

In [ ]:
Viet ham sort_words(s) nhap vao 1 string gom cac tu cach nhanh boi dau comma ',' 
tra ve cac ptu cach nhanh boi dau comma nhung cac tu da duoc sawp xep theo A-Z luu ys string tra ve o dang lowercase

In [104]:
# C1: CREATE 1 ARRAY AND USE METHOD 'APPEND'
def sort_words_v1(s):
    k = []
    for i in s.split(','):
        k.append(i.lower())
    return sorted(k)

def sort_words_v2(s):
    k = [ i.lower() for i in s.split(",")]
    k.sort()
    return k

def sort_words_v3(s):
    v = [i.lower() for i in s.split(',')]
    return ','.join(sorted(v))

Step 1: You can create variable in a list
Step 2: Bc slipt by ',' you can split a list this (I recommend you should use for bc dtype LIST)
Step 3: Then after you split a list you use method 'append' and 'lower' incorrect the sccc (No recommend)
Step 3.1: You can use method inside variable 
# k = [ i.lower() for i in s.split(',')]
Step 4.1: If you incorrect 3.1 then you use a method 'sort()' then ascending = True (A-Z)

In [102]:
sort_words_v1("hourse,dog,cat,asd,ok")

['asd', 'cat', 'dog', 'hourse', 'ok']

In [98]:
sort_words_v2("hourse,dog,cat,asd,ok")

['asd', 'cat', 'dog', 'hourse', 'ok']

In [106]:
sort_words_v3("hourse,dog,cat,asd,ok")

'asd,cat,dog,hourse,ok'

In [ ]:
Viet ham get_most_frequent_elements(x), nhap vao 1 list cac so va in ra phan tu cung so luong xuat hien theo format sau:
    Element: 1, Occurences: 4

In [122]:
def get_most_frequent_elemnts(x):
    for i in set(x):
        e = 0
        for j in x:
            if i == j:
                e += 1
        print("Element: {}, Occurences: {}".format(i, e))

In [124]:
x = [1,1,1,1,2,2,2,2,3,4,5,6,4,23,3,3,3]
get_most_frequent_elemnts(x)

Element: 1, Occurences: 4
Element: 2, Occurences: 4
Element: 3, Occurences: 4
Element: 4, Occurences: 2
Element: 5, Occurences: 1
Element: 6, Occurences: 1
Element: 23, Occurences: 1

In [126]:
Viet ham get_quarter(x) nhap vao mot so nguyen tu tu 1 den 12 the hien so thu tu cua thang trong nam, 
tra ve so nguyen la quarter tuong ung tu 1 den 4
VD: thang 1,2,3 ung voi quarter 1, 4,5,6 ung vs quarter 2...

SyntaxError: invalid syntax (3101165540.py, line 1)

In [128]:
def get_quarter(x):
    q = ''
    if x <= 3:
        q = 'Quarter 1'
    elif x <= 6:
        q = 'Quarter 2'
    elif x <= 9:
        q = 'Quarter 3'
    elif x <= 12:
        q = 'Quarter 4'
    return q

In [130]:
for x in range(1,13):
    print(get_quarter(x), end= " ")

Quarter 1 Quarter 1 Quarter 1 Quarter 2 Quarter 2 Quarter 2 Quarter 3 Quarter 3 Quarter 3 Quarter 4 Quarter 4 Quarter 4

In [ ]:
FINALLLLLLLLLLLLLLLLLLLLLLLLLLLLLL

In [ ]:
Viet ham filter_numbers(x) nhap vao 1 list x va tra ve 1 lít gom cac  phan tu la so int float cua x

In [ ]:
3. Data Processing

In [2]:
import pandas as pd
import numpy as np

In [83]:
pd.set_option('display.max_columns', None) #?????

In [85]:
hotel = pd.read_csv('Final/hotel_bookings.csv')
hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,City Hotel,1,134,2017,July,32,20,2,9,2,1,0,BB,Other,Offline TA/TO,GDS,0,0,0,F,F,1,No Deposit,397,846.0,10,Transient-Party,149.46,1,0,Canceled,2015-09-10
1,City Hotel,1,53,2017,September,31,23,0,2,4,1,0,Undefined,ITA,Corporate,Direct,1,1,2,F,G,0,No Deposit,62,703.0,12,Transient-Party,149.46,2,2,Check-Out,2016-07-02
2,Resort Hotel,0,301,2016,March,22,16,0,2,4,0,1,HB,Other,Online TA,Corporate,0,0,1,A,G,0,No Deposit,306,984.0,5,Transient-Party,149.46,1,0,No-Show,2017-04-05
3,City Hotel,1,143,2015,July,11,17,0,1,1,2,1,FB,USA,Corporate,GDS,1,0,2,G,G,3,Non Refund,97,53.0,11,Contract,149.46,0,5,Canceled,2017-02-20
4,City Hotel,0,52,2017,February,45,4,3,2,3,1,0,HB,Other,Direct,TA/TO,1,0,0,C,A,3,Refundable,483,561.0,6,Contract,149.46,2,4,Canceled,2016-08-01

# Q1
In ra shape cua tap data

In [88]:
hotel.shape #The shape shows number of rows and columns

(19390, 32)

In [90]:
Q2 
Print info of 'hotel'
Create list 'nul_col' save name columns have null

SyntaxError: invalid syntax (3536999090.py, line 2)

In [92]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19390 entries, 0 to 19389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           19390 non-null  object
 1   is_canceled                     19390 non-null  int64
 2   lead_time                       19390 non-null  int64
 3   arrival_date_year               19390 non-null  int64
 4   arrival_date_month              19390 non-null  object
 5   arrival_date_week_number        19390 non-null  int64
 6   arrival_date_of_month           19390 non-null  int64
 7   stays_in_weekend_nights         19390 non-null  int64
 8   stays_in_week_nights            19390 non-null  int64
 9   adults                          19390 non-null  int64
 10  children                        19390 non-null  int64
 11  babies                          19390 non-null  int64
 12  meal                            19390 non-null  object
 13  country                         19390 non-null  object
 14  market_segment                  19390 non-null  object
 15  distribution_channel            19390 non-null  object
 16  is_repeated_guest               19390 non-null  int64
 17  previous_cancellations          19390 non-null  int64
 18  previous_bookings_not_canceled  19390 non-null  int64
 19  reserved_room_type              19390 non-null  object
 20  assigned_room_type              19390 non-null  object
 21  booking_changes                 19390 non-null  int64
 22  deposit_type                    19390 non-null  object
 23  agent                           19390 non-null  int64
 24  company                         6797 non-null   float64
 25  days_in_waiting_list            19390 non-null  int64
 26  customer_type                   19390 non-null  object
 27  adr                             19390 non-null  float64
 28  required_car_parking_spaces     19390 non-null  int64
 29  total_of_special_requests       19390 non-null  int64
 30  reservation_status              19390 non-null  object
 31  reservation_status_date         19390 non-null  object
dtypes: float64(2), int64(18), object(12)
memory usage: 4.7+ MB

In [94]:
null_col = hotel['company']
null_col

0        846.0
1        703.0
2        984.0
3         53.0
4        561.0
         ...
19385      NaN
19386      NaN
19387      NaN
19388      NaN
19389      NaN
Name: company, Length: 19390, dtype: float64

In [ ]:
Q3
Thay vi tao 1 list, hay xay dung ham null_count() nhap vao ten tap data va tra ra dataframe chua ten cot va so luong null va so %

In [96]:
def null_count(data):
    percent_null = (data.isnull().sum() / len(hotel) * 100).sort_values(ascending = False)
    count_null = data.isnull().sum()
    result = pd.concat([count_null, percent_null], axis = 1, keys = ['Total_null', 'Percent_null'] )
    #So, we can filter the rows where column 'Total_null' is greater than 0
    return result[result['Total_null'] > 0]

In [98]:
null_count(hotel)

         Total_null  Percent_null
company       12593     64.945848

In [100]:
def null_count(x):
    # Create a variable named 'count_null' to count the number of null values in the table X
    count_null = x.isnull().sum() 
    # Create a variable named 'percent_null' to calculate /leɪt/ the percentage /ɪdʒ/ of null values in the table X
    percent_null = x.isnull().sum() / len(x) * 100
    # Create a variable named 'df_null' to concatenate count_null and percent_null along axis = 1 (columns) with keys 'abc'
    df_null = pd.concat([count_null, percent_null], axis = 1, keys = ['Total data null', 'Percent null'] )
    # So, check if the values in the column 'Total data null' are greater /ˈɡreɪ.t̬ɚ/ than 0
    df_null = df_null[df_null['Total data null'] > 0]
    return df_null

In [102]:
null_count(hotel)

         Total data null  Percent null
company            12593     64.945848

In [104]:
# Q4:
# Cot nao co so luong null chua toi 1% thi xoa bo gia tri null
# hotel.dropna(subset = ['cac cot'], inplace = True)

# Q5: Cac cot co so luong null lon hon 90% xoa luon cot do
# hotel.drop(......, axis = 1)
# Q6: Cac cot co so luong null > 1 % va nho hon 90% thi fil null value bang gia tri trung vi
hotel['company'].fillna(hotel['company'].median(), inplace= True) 
null_count(hotel)

Empty DataFrame
Columns: [Total data null, Percent null]
Index: []

In [106]:
hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19390 entries, 0 to 19389
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           19390 non-null  object
 1   is_canceled                     19390 non-null  int64
 2   lead_time                       19390 non-null  int64
 3   arrival_date_year               19390 non-null  int64
 4   arrival_date_month              19390 non-null  object
 5   arrival_date_week_number        19390 non-null  int64
 6   arrival_date_of_month           19390 non-null  int64
 7   stays_in_weekend_nights         19390 non-null  int64
 8   stays_in_week_nights            19390 non-null  int64
 9   adults                          19390 non-null  int64
 10  children                        19390 non-null  int64
 11  babies                          19390 non-null  int64
 12  meal                            19390 non-null  object
 13  country                         19390 non-null  object
 14  market_segment                  19390 non-null  object
 15  distribution_channel            19390 non-null  object
 16  is_repeated_guest               19390 non-null  int64
 17  previous_cancellations          19390 non-null  int64
 18  previous_bookings_not_canceled  19390 non-null  int64
 19  reserved_room_type              19390 non-null  object
 20  assigned_room_type              19390 non-null  object
 21  booking_changes                 19390 non-null  int64
 22  deposit_type                    19390 non-null  object
 23  agent                           19390 non-null  int64
 24  company                         19390 non-null  float64
 25  days_in_waiting_list            19390 non-null  int64
 26  customer_type                   19390 non-null  object
 27  adr                             19390 non-null  float64
 28  required_car_parking_spaces     19390 non-null  int64
 29  total_of_special_requests       19390 non-null  int64
 30  reservation_status              19390 non-null  object
 31  reservation_status_date         19390 non-null  object
dtypes: float64(2), int64(18), object(12)
memory usage: 4.7+ MB

In [64]:
hotel.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,City Hotel,1,134,2017,July,32,20,2,9,2,1,0,BB,Other,Offline TA/TO,GDS,0,0,0,F,F,1,No Deposit,397,846.0,10,Transient-Party,149.46,1,0,Canceled,2015-09-10
1,City Hotel,1,53,2017,September,31,23,0,2,4,1,0,Undefined,ITA,Corporate,Direct,1,1,2,F,G,0,No Deposit,62,703.0,12,Transient-Party,149.46,2,2,Check-Out,2016-07-02
2,Resort Hotel,0,301,2016,March,22,16,0,2,4,0,1,HB,Other,Online TA,Corporate,0,0,1,A,G,0,No Deposit,306,984.0,5,Transient-Party,149.46,1,0,No-Show,2017-04-05
3,City Hotel,1,143,2015,July,11,17,0,1,1,2,1,FB,USA,Corporate,GDS,1,0,2,G,G,3,Non Refund,97,53.0,11,Contract,149.46,0,5,Canceled,2017-02-20
4,City Hotel,0,52,2017,February,45,4,3,2,3,1,0,HB,Other,Direct,TA/TO,1,0,0,C,A,3,Refundable,483,561.0,6,Contract,149.46,2,4,Canceled,2016-08-01
5,Resort Hotel,0,39,2015,January,14,25,3,7,1,0,0,FB,USA,Online TA,TA/TO,1,1,1,B,B,2,No Deposit,150,565.0,2,Transient,149.46,0,3,No-Show,2016-11-30
6,Resort Hotel,1,195,2015,November,42,15,3,7,4,2,1,SC,USA,Online TA,Corporate,0,1,4,F,A,4,Refundable,15,96.0,18,Contract,149.46,0,1,Check-Out,2015-10-20
7,City Hotel,0,126,2015,December,12,15,1,5,1,0,0,SC,USA,Direct,Corporate,0,2,2,A,D,0,Non Refund,436,485.0,18,Transient-Party,149.46,0,3,Canceled,2016-11-02
8,Resort Hotel,0,276,2016,January,38,15,4,4,2,2,1,Undefined,USA,Offline TA/TO,Corporate,0,0,2,A,C,0,Refundable,262,472.0,18,Transient-Party,149.46,2,4,Canceled,2015-02-20
9,City Hotel,0,319,2016,October,22,29,3,7,2,1,1,HB,FRA,Online TA,TA/TO,1,2,0,B,C,1,No Deposit,104,917.0,7,Contract,149.46,1,1,Canceled,2017-08-25

In [ ]:
Q5
Tao cot meal_service chua ten day du cua meal, biet ds ten tuong ung voi tung loai meal nhu sau:
- 'BB': 'Bed and Breakfast'
- 'FB': 'Full Board'
- 'HB': 'Half Borad'
- 'SC': 'Self-Catering'
- 'Underfined': 'Unferfined'

In [120]:
full_meal = {
            'BB': 'Bed and Breakfast',
            'FB': 'Full Board',
            'HB': 'Half Board',
            'SC': 'Self-Catering',
            'Undefined': 'Unferfined'
            }
hotel['meal_service'] = hotel['meal'].map(full_meal) # Duyet cac values trong meal tuong ung (Series) va thay the chung
hotel[['meal', 'meal_service']].head(10).drop_duplicates()

        meal       meal_service
0         BB  Bed and Breakfast
1  Undefined         Unferfined
2         HB         Half Board
3         FB         Full Board
6         SC      Self-Catering

In [ ]:
Q6 
doi ten column theo ten moi tuong ung:
- 'arrival_date_year': 'arrival_year'
- 'arrival_date_month': 'arrival_month' 	
- 'arrival_date_week_number': 'arrival_week_number'

In [75]:
hotel['reservation_status_date']

0        2015-09-10
1        2016-07-02
2        2017-04-05
3        2017-02-20
4        2016-08-01
            ...
19385    2015-12-27
19386    2016-12-16
19387    2017-12-15
19388    2017-07-22
19389    2015-06-02
Name: reservation_status_date, Length: 19390, dtype: object

In [70]:
hotel = hotel.rename(columns= {'arrival_date_year': 'arrival_year','arrival_date_month': 'arrival_month', 'arrival_date_week_number': 'arrival_week_number' } )
hotel.head()

,hotel,is_canceled,lead_time,arrival_year,arrival_month,arrival_week_number,arrival_date_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,meal_service
0,City Hotel,1,134,2017,July,32,20,2,9,2,1,0,BB,Other,Offline TA/TO,GDS,0,0,0,F,F,1,No Deposit,397,846.0,10,Transient-Party,149.46,1,0,Canceled,2015-09-10,Bed and Breakfast
1,City Hotel,1,53,2017,September,31,23,0,2,4,1,0,Undefined,ITA,Corporate,Direct,1,1,2,F,G,0,No Deposit,62,703.0,12,Transient-Party,149.46,2,2,Check-Out,2016-07-02,Unferfined
2,Resort Hotel,0,301,2016,March,22,16,0,2,4,0,1,HB,Other,Online TA,Corporate,0,0,1,A,G,0,No Deposit,306,984.0,5,Transient-Party,149.46,1,0,No-Show,2017-04-05,Half Borad
3,City Hotel,1,143,2015,July,11,17,0,1,1,2,1,FB,USA,Corporate,GDS,1,0,2,G,G,3,Non Refund,97,53.0,11,Contract,149.46,0,5,Canceled,2017-02-20,Full Board
4,City Hotel,0,52,2017,February,45,4,3,2,3,1,0,HB,Other,Direct,TA/TO,1,0,0,C,A,3,Refundable,483,561.0,6,Contract,149.46,2,4,Canceled,2016-08-01,Half Borad

In [ ]:
Q7
Tao mot lead_time_range dua ten cot lead_timen theo khoan sau
- 0-50
- 50-100
- 100-150
- 150-800

In [72]:
bins = [0,50,100,150,800]
labels = ['0-50', '50-100', '100-150', '150-800']
hotel['lead_time_range'] = pd.cut(hotel['lead_time'], bins = bins, labels = labels)
hotel[['lead_time', 'lead_time_range']]

       lead_time lead_time_range
0            134         100-150
1             53          50-100
2            301         150-800
3            143         100-150
4             52          50-100
...          ...             ...
19385         85          50-100
19386        380         150-800
19387        255         150-800
19388        358         150-800
19389        109         100-150

[19390 rows x 2 columns]

In [ ]:
Q8 
Doi dtype cac truong hop sau:
- children => int64
- ['is_canceled', 'meal', 'market_segment', 'distribution_channel', 'is_repeated_guest',
'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type',
'assigned_room_type', 'customer_type', 'reservation_status'
] => Category
- reservation_status_date => datetime64

In [90]:
hotel['children'] = hotel['children'].astype('int64')
hotel['reservation_status_date'] = pd.to_datetime(hotel['reservation_status_date'], format="%Y-%m-%d")
ca_col = ['is_canceled', 'meal', 'market_segment', 'distribution_channel', 'is_repeated_guest',
'previous_cancellations', 'previous_bookings_not_canceled', 'reserved_room_type',
'assigned_room_type', 'customer_type', 'reservation_status']
for i in ca_col:
    hotel[i] = hotel[i].astype('category')

In [92]:

hotel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19390 entries, 0 to 19389
Data columns (total 34 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           19390 non-null  object
 1   is_canceled                     19390 non-null  category
 2   lead_time                       19390 non-null  int64
 3   arrival_year                    19390 non-null  int64
 4   arrival_month                   19390 non-null  object
 5   arrival_week_number             19390 non-null  int64
 6   arrival_date_of_month           19390 non-null  int64
 7   stays_in_weekend_nights         19390 non-null  int64
 8   stays_in_week_nights            19390 non-null  int64
 9   adults                          19390 non-null  int64
 10  children                        19390 non-null  int64
 11  babies                          19390 non-null  int64
 12  meal                            19390 non-null  category
 13  country                         19390 non-null  object
 14  market_segment                  19390 non-null  category
 15  distribution_channel            19390 non-null  category
 16  is_repeated_guest               19390 non-null  category
 17  previous_cancellations          19390 non-null  category
 18  previous_bookings_not_canceled  19390 non-null  category
 19  reserved_room_type              19390 non-null  category
 20  assigned_room_type              19390 non-null  category
 21  booking_changes                 19390 non-null  int64
 22  deposit_type                    19390 non-null  object
 23  agent                           19390 non-null  int64
 24  company                         19390 non-null  float64
 25  days_in_waiting_list            19390 non-null  int64
 26  customer_type                   19390 non-null  category
 27  adr                             19390 non-null  float64
 28  required_car_parking_spaces     19390 non-null  int64
 29  total_of_special_requests       19390 non-null  int64
 30  reservation_status              19390 non-null  category
 31  reservation_status_date         19390 non-null  datetime64[ns]
 32  meal_service                    19390 non-null  object
 33  lead_time_range                 19331 non-null  category
dtypes: category(12), datetime64[ns](1), float64(2), int64(14), object(5)
memory usage: 3.5+ MB